
.inputs {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}



#search {
    /* margin-left: 4rem; */
    margin-top: 3rem;
    width: 40%;
    background-color: hsl(209, 23%, 22%);
    border-radius: 1rem;
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 7%);
}


#select {
    margin-top: 3rem;
    background-color: hsl(209, 23%, 22%);
    border-radius: 1rem;
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 7%);
}


mat-icon {
    padding-right: 1rem;
}



#mySelectId {
    color: #fff;
}


::ng-deep .mat-focused .mat-form-field-label {
    color: #FFF !important;
}
  
::ng-deep.mat-form-field-ripple {
   background-color: transparent !important;
}

::ng-deep .mat-form-field-underline {
    background-color: transparent;
    display: none;
}
::ng-deep .mat-form-field-wrapper{
    margin-bottom: -1.25em;
}

::ng-deep input.mat-input-element {
    color: #fff;
}

.container {
    margin-top: 3rem;
    display: grid;
    grid-template-columns: repeat(4, 18.5rem);
    margin-left: 1.5rem;
    justify-content: center;
}

.container a{
    text-decoration: none;
}

::ng-deep .mat-form-field-type-mat-native-select .mat-form-field-infix::after {
    color: #fff;
}



#renderMsg {
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#renderMsg > div{
    /* width: 90%; */
    background-color: hsl(209, 23%, 22%);
    border-radius: 1rem;
    padding: 10rem 20rem;
    margin-left: 50rem;
    margin-top: -5rem;
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
    white-space: nowrap;
}

:host-context(.light-theme) #renderMsg {
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

:host-context(.light-theme) #renderMsg > div{
    /* width: 90%; */
    background-color: hsl(0, 0%, 52%);
    border-radius: 1rem;
    padding: 10rem 20rem;
    margin-left: 50rem;
    margin-top: -5rem;
    text-align: center;
    font-size: 2rem;
    color: #fff;
    font-weight: bold;
    white-space: nowrap;
}


:host-context(.light-theme) #search {
    margin-top: 3rem;
    width: 40%;
    background-color: hsl(0, 0%, 52%);
    border-radius: 1rem;
    /* box-shadow: 0 4px 8px 0 rgb(0 0 0 / 7%); */
}

:host-context(.light-theme) #select {
    margin-top: 3rem;
    background-color: hsl(0, 0%, 52%);
    border-radius: 1rem;
    /* box-shadow: 0 4px 8px 0 rgb(0 0 0 / 7%); */
}




    
@media screen and (max-width: 1200px) {
    .container {
        margin-top: 3rem;
        display: grid;
        grid-template-columns: repeat(3, 19rem);
        margin-left: 1.7rem;
        justify-content: center;
    }
}

@media screen and (max-width: 930px) {
    .container {
        margin-top: 3rem;
        display: grid;
        grid-template-columns: repeat(2, 20rem);
        margin-left: 2rem;
    }
}

@media screen and (max-width: 650px) {
    .container {
        grid-template-columns: repeat(1, 20rem);
    }
}
